[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "external/tensorflow"]
	path = external/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "external/ClParser"]
	path = external/ClParser
	url = https://github.com/sertschgi/ClParser.git
